<!DOCTYPE html>
<html>
  <head>
    <title>Nodepop - API Rest</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Nodepop - API Rest</h1>
    <p>Index</p>
    <p><a href="/doc/">Doc</a></p>
  </body>
</html>
